.body {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elem {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
  &:hover{
    background-color: #7cadee;
    color: #fff;
  }
}
.active {
  background-color: #7cadee;
  color: #fff;
}
.btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  font-size: 35px;
  background: transparent;
  position: relative;
  top: -3px;
}